.flex-container {
  width: 300px;
  height: 200px;
  background-color: #c4c4c4;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}

.flex-item {
  width: 50px;
  color: white;
  background-color: #ff5252;
}

.flex-item:nth-child(2n) {
  background-color: #bf5e5e;
}
