<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.scoula.mapper.TimeMapper">
<!--    String getTime2()의 메서드명과 리턴 타입-->

    <select id="getTime2" resultType="string">
        SELECT sysdate()
    </select>
</mapper>