#duel-area {
  width: 400px;
  height: 400px;
  border: 3px solid black;
  position: relative;
  margin-bottom: 10px;
}

#player {
  width: 150px;
  height: 150px;
  background-color: blue;
  color: white;
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#opponent {
  width: 150px;
  height: 150px;
  background-color: red;
  color: white;
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
