<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.scoula.member.mapper.MemberMapper">
    <resultMap id="authMap" type="AuthVO">
        <result property="username" column="username" />
        <result property="auth" column="auth" />
    </resultMap>
    <resultMap id="memberMap" type="MemberVO">
        <id property="username" column="username" />
        <result property="username" column="username" />
        <result property="password" column="password" />
        <result property="email" column="email" />
        <result property="regDate" column="reg_date" />
        <result property="updateDate" column="update_date" />
        <collection property="authList" resultMap="authMap" />
    </resultMap>
    <select id="get" resultMap="memberMap">
        SELECT m.username, password, email, reg_date, update_date, auth
        FROM tbl_member m
         LEFT OUTER JOIN tbl_member_auth a
         ON m.username = a.username
        WHERE m.username = #{username}
    </select>
    <!-- 위 내용은 VIEW 활용헤서 간단하게 구성할 수도 있음 -->
    <select id="findByUsername" resultType="org.scoula.security.account.domain.MemberVO">
        SELECT * FROM tbl_member WHERE username = #{username}
    </select>
    <insert id="insert">
        INSERT INTO tbl_member
        VALUES(#{username}, #{password}, #{email}, now(), now())
    </insert>
    <!--  여기서 들어가는 password는 암호화된 패스워드가 들어가야 한다.  -->
    <insert id="insertAuth">
        INSERT INTO tbl_member_auth(username, auth)
        VALUES(#{username}, #{auth})
    </insert>
</mapper>